.LengthIcon {
  margin-right: 59px;
}
.TemperatureIcon {
  margin-right: 15px;
}
.AreaIcon {
  margin-right: 75px;
}
.VolumeIcon {
  margin-right: 54px;
}
.WeightIcon {
  margin-right: 58px;
}
.TimeIcon {
  margin-right: 72px;
}
.MemoryIcon {
  margin-right: 49px;
}
.FrequencyIcon {
  margin-right: 31px;
}
.PowerIcon {
  margin-right: 62px;
}
.AngleIcon {
  margin-right: 66px;
}
.LabelText {
  text-align: right;
}
